body {
  font-family: "Oswald", sans-serif;
}
.floating-bg-animation {
  background-image: url("./images/bg.jpg");
  background-size: contain;
  background-position: center center;
  background-blend-mode: overlay;
  background-color: #010416e0;
}
.app {
  min-height: 100vh;
  min-width: 100%;
}
nav .dropdown-menu[data-bs-popper] {
  left: initial;
  right: 0;
}

.spread-icons svg {
  cursor: pointer;
}
